.play-btn{
            border-style: inset;
            border-color: #33CC99;
            background: black;
            color:gold;
          }
          .back-btn{
            border-style: inset;
            border-color: #33CC99;
            background: black;
            color:red;
          }
          .for-btn{
            border-style: inset;
            border-color: #33CC99;
            background: black;
            color:red;
          }
          .change-btn{
            border-style: inset;
            border-color: #33CC99;
            background: black;
            color:red;
          }
          .input{
            border-style: inset;
            border-color: #33CC99;
            background: black;
            color:red;
            position: relative;
		  }