<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/javascripts/indexP5.js"></script>
<script src="/javascripts/p5/p5.js"></script>
<script src="/javascripts/p5/p5.dom.js"></script>
<script src="/javascripts/p5/p5.sound.js"></script>
<link rel="stylesheet" href="./stylesheets/style.css" media="screen">
<div class ="row">

   <div class="col-md-4">

		<div id="container">
			<div id="audio-image">
				<img class="cover" />
			</div>
			<div id="audio-player">

				<div id="audio-info">
					<span class="artist"></span> - <span class="title"></span>
				</div>
			
				<div id="tracker">		 		    
							<input id="volume" type="range" min="0" max="10" value="5" />					
							<span id="volume-text">volume</span>
					</div>

				
				<div id="buttons">
					<span>
					<button id="prev"></button>
					<button id="play"></button>
					<button id="pause"></button>
					<button id="stop"></button>
					<button id="next"></button>
					</span>
				</div>
				<div class="clearfix"></div>
				<div id="tracker">
					<div id="progressBar">
						<span id="progress"></span>
					</div>
					<span id="duration"></span>
				</div>
				<div class="clearfix"></div>

				<ul id="playlist" class="hidden">

					<li song="shape of you.mp3" cover="shape of you.jpg" artist="Ed sheeran">Shape of you</li>
					<li song="thinking out loud.mp3" cover="thinking out loud.jpg" artist="Ed sheeran">Thinking out loud</li>
					<li song="perfect.mp3" cover="perfect.jpg" artist="Ed sheeran">Perfect</li>
					<li song="perfect duet.mp3" cover="perfect duet.jpg" artist="Ed sheeran">Perfect duet</li>
					<li song="dive.mp3" cover="dive.jpg" artist="Ed sheeran">dive</li>
					
				</ul>
			</div>

		</div>
   </div>
    <div class="col-md-8">
		 <div class="row">

			 <div id="container1">



				 <div id="p5">
					 {{!-- add the visualization part here  --}}
				 </div>
				


			</div>

		 </div>

		 <div class="row">
			  <div id="back">
				<form action='/back' method="post" id="main"></form>
				<button type="submit" class="btn btn-success btn-xl "  style="font-size:1.5em ; color:#f5ebeb ;background-color: grey "  form="main" >Back </button>
			  </div>
		 </div>
		

	</div>
	
</div>

<script src="/javascripts/main.js" name ="edsheeran"></script>
  