

<div class="container">

    <section class="cd-intro">
        <h1 class="cd-headline rotate-1">
           
            <div id ="id2">
            <span class="cd-words-wrapper">
            <b class="is-visible">MUSIC VISUALIZER</b>
            <b> & MUSIC PLAYLIST</b>
           
            </span>
            </div>
            <div id ="id1">

              with HEAD MASSSAGE TOOL
            </div>
                        
        </h1>
    </section>

  {{!-- playlist section     --}}

  <div class ="row">

      <div class="col-md-3"> 
        <button type="submit" class="btn btn-success btn-lg "  style="font-size:2.0em " >Linkin park</button>
      </div>
      <div class="col-md-3"> 
        <button type="submit" class="btn btn-info btn-lg " style="font-size:2.0em; color:#131111 "  >Ed Sheeran</button>
      </div>
      <div class="col-md-3"> 
        <button type="submit" class="btn btn-success btn-lg "  style="font-size:2.0em " >Taylor Swift</button>
      </div>
      <div class="col-md-3"> 
        <button type="submit" class="btn btn-info btn-lg "  style="font-size:2.0em; color:#131111 " >Adele</button>
      </div>


  </div>

   </br></br>

  <div class ="row">
    <div class="col-md-3"> 
        <button type="submit" class="btn btn-info btn-lg " style="font-size:2.0em; color:#131111 " > Maroon 5</button>
      </div>
      <div class="col-md-3"> 
        <button type="submit" class="btn btn-success btn-lg "   style="font-size:2.0em ">Sam Smith</button>
      </div>
      <div class="col-md-3"> 
        <button type="submit" class="btn btn-info btn-lg " style="font-size:2.0em; color:#131111 "  >The Beatles</button>
      </div>
      <div class="col-md-3"> 
        <button type="submit" class="btn btn-success btn-lg "   style="font-size:2.0em ">John Legend</button>
      </div>

  </div>


  </div>

           
           
</div>

<script src="/javascripts/playlist.js"></script>
 
