 <link rel="stylesheet" href="./stylesheets/main.css" media="screen">
<div class="container">

    <section class="cd-intro">
        <h1 class="cd-headline rotate-1">
           
            <span class="cd-words-wrapper">
            <b class="is-visible">MUSIC VISUALIZER</b>
            <b> & MUSIC PLAYLIST</b>
           
            </span>
            <div id ="id1">

                <p> with  WITH HEAD MASSAGE TOOL </p>
            </div>
             
        </h1>
    </section>
           
           
</div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/playlist.js"></script>
