 <link rel="stylesheet" href="stylesheets/main.css" media="screen"> 

<div class="container">

    <section class="cd-intro">
        <h1 class="cd-headline rotate-1">
           
            <div id ="id2">
            <span class="cd-words-wrapper">
            <b class="is-visible">MUSIC VISUALIZER</b>
            <b> & MUSIC PLAYLIST</b>
           
            </span>
            </div>
            <div id ="id1">

              with HEAD MASSSAGE TOOL
            </div>
                        
        </h1>
    </section>

  {{!-- playlist section     --}}

  <div class ="row">

      <div class="col-md-3"> 
         <form action="/linkinpark" method="post" id="linkinpark"></form>
        <button type="submit" class="btn btn-success btn-lg "  style="font-size:2.0em " form="linkinpark">Linkin park</button>
      </div>
      <div class="col-md-3"> 
        <form action="/edsheeran" method="post" id="edsh"></form>
        <button type="submit" class="btn btn-info btn-lg " style="font-size:2.0em; color:#131111 " form="edsh" >Ed Sheeran</button>
      </div>
      <div class="col-md-3"> 
        <form action="/err" method="post" id="taylorswift"></form>
        <button type="submit" class="btn btn-success btn-lg "  style="font-size:2.0em " form ="taylorswift">Taylor Swift</button>
      </div>
      <div class="col-md-3"> 
         <form action="/err" method="post" id="adele"></form>
        <button type="submit" class="btn btn-info btn-lg "  style="font-size:2.0em; color:#131111 "   form ="adele">Adele</button>
      </div>


  </div>

   </br></br>

  <div class ="row">
    <div class="col-md-3"> 
         <form action="/err" method="post" id="maroon"></form>
        <button type="submit" class="btn btn-info btn-lg " style="font-size:2.0em; color:#131111 " form ="maroon"> Maroon 5</button>
      </div>
      <div class="col-md-3"> 
        <form action="/err" method="post" id="samsmith"></form>
        <button type="submit" class="btn btn-success btn-lg "   style="font-size:2.0em " form="samsmith">Sam Smith</button>
      </div>
      <div class="col-md-3"> 
         <form action="/err" method="post" id="beatles"></form>
        <button type="submit" class="btn btn-info btn-lg " style="font-size:2.0em; color:#131111 " form ="beatles" >The Beatles</button>
      </div>
      <div class="col-md-3"> 
         <form action="/err" method="post" id="john"></form>
        <button type="submit" class="btn btn-success btn-lg "   style="font-size:2.0em " form ="john">John Legend</button>
      </div>

  </div>

  </div>

           
           
</div>

<script src="/javascripts/playlist.js"></script>
 
