 <link rel="stylesheet" href="./stylesheets/main.css" media="screen">
<div class="container">

            <div id="audio-image-main">
                <img class="cover" />
            </div>


           
</div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/playlist.js"></script>
