*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body{
	font-family:arial;
	font-size:13px;
	line-height:1.5em;
	color:#fff;
	background: url(../images/maincover.jpg);
}

.clearfix{
	clear:both;
}

#container{
	float: left;
	width:330px;
	min-height:430px;
	background:#333;
	overflow:auto;
	margin:20px auto;
	margin-left :20px;	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:#666 solid 2px;
}

#container1{
	float: left;
	width:770px;
	min-height:460px;
	background:#333;
	overflow:auto;
	margin:20px auto;	
	margin-right: 40px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:#666 solid 2px;
}

#back{
	margin:20px auto;	
	margin-right: 40px;
	margin-bottom: 10px;
	justify-content: flex-end;
  	display: flex;
	
}



#audio-image{
	position:relative;
	overflow:hidden;
	height:180px;
	margin-bottom:10px;
}

#audio-info{
	text-align:center;
}

#audio-info .artist{
	font-weight:bold;
}

.cover{
	width:100%;
	z-index:1;
}

input#volume {
	width:95%;
	margin-left:2%;
    -webkit-appearance: none !important;
    background:#ccc;
    height:1px;
	margin-bottom:20px;
}
input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:url(../images/knob.png) no-repeat;
    height:12px;
    width:12px;
}

#buttons{
	width:90%;
	display: block;
    margin: 5px auto;
	margin-left:23px;
	overflow:auto;
}


button#play{
	width:70px;
	height:70px;
	background:url(../images/play.png) no-repeat;float:left;
}

button#pause{
	width:70px;
	height:70px;
	background:url(../images/pause.png) no-repeat;float:left;
}

button#stop{
	width:70px;
	height:70px;
	background:url(../images/stop.png) no-repeat;float:left;
}

button#prev{
	width:70px;
	height:70px;
	background:url(../images/prev.png) no-repeat;
	float:left;
	margin-top:15px;
}

button#next{
	width:70px;
	height:70px;
	background:url(../images/next.png) no-repeat;
	float:right;
	margin-top:15px;
}

#playlist {
    list-style-type: none;
	padding:10px;
}

#playlist li {
    cursor: pointer;
    margin:5px;
}

#tracker{
	position:relative;
	width:100%;
}

#playlist li.active {
    font-weight: bold;
	padding:3px;
	background:#666;
}

#progressBar { 
   width:80%;
   margin-left:2%;
   margin-bottom:20px;
   margin-top:9px;
   height:10px;
   background:url(../images/progress_bg.png) no-repeat;
   float:left;
}

#progress {
   background:url(../images/progress.png) no-repeat;
   height:10px;
   display:inline-block;
}

#duration{
	position:absolute;
	top:0;
	right:10px;
	padding:4px 8px;
	background:#000;
	border-radius:5px;
}


#volume-text{
	position:absolute;
	top:5px;
	right:10px;
	padding:4px 4px;
	background:#000;
	border-radius:5px;
}
.input{
	border-style: inset;
	border-color: #33CC99;
	background: black;
	color:red;
}
.back-btn{
	height:70px;
	background:url(../images/prev.png) no-repeat;
}
.play-btn{
	height:70px;
	background:url(../images/play.png) no-repeat;float:left;
  }

.for-btn{
	height:70px;
	background:url(../images/next.png) no-repeat;
}
.change-btn{
	border-style: inset;
	border-color: #33CC99;
	background: black;
	color:red;
  }
